Source: runit
Section: admin
Priority: optional
Maintainer: Dmitry Bogatov <KAction@gnu.org>
Standards-Version: 3.9.6.0
Homepage: http://smarden.org/runit/

Package: runit
Architecture: any
Depends: ${shlibs:Depends}
Recommends: fgetty
Suggests: socklog-run
Description: system-wide service supervision
 runit is a collection of tools to provide system-wide service supervision
 and to manage services.  Contrary to sysv init, it not only cares about
 starting and stopping services, but also supervises the service daemons
 while they are running.  Amongst other things, it provides a reliable
 interface to send signals to service daemons without the need for pid-files,
 and a log facility with automatic log file rotation and disk space limits.
 .
 runit service supervision can run under sysv init or replace the init
 system completely.  Complete init replacement requires some manual
 configuration described in the supplied documentation.
