Source: runit
Section: admin
Maintainer: Dmitry Bogatov <KAction@gnu.org>
Priority: optional
Standards-Version: 4.1.4
Homepage: http://smarden.org/runit/
Build-Depends: bash-completion,
               debhelper (>= 11~),
               dh-exec,
               dh-runit (>= 1.6),
               dh-buildinfo (>= 0.11+nmu1),
               doc-base
Vcs-Browser: https://salsa.debian.org/runit-team/runit
Vcs-Git: https://salsa.debian.org/runit-team/runit.git

Package: runit
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: system-wide service supervision
 runit is a collection of tools to provide system-wide service supervision
 and to manage services.  Contrary to sysv init, it not only cares about
 starting and stopping services, but also supervises the service daemons
 while they are running.  Amongst other things, it provides a reliable
 interface to send signals to service daemons without the need for pid-files,
 and a log facility with automatic log file rotation and disk space limits.
 .
 runit service supervision can run under sysv init or replace the init
 system completely.  Complete init replacement provided by 'runit-init'
 package.

Package: runit-systemd
Architecture: all
Breaks: runit (<< 2.1.2-4)
Replaces: runit (<< 2.1.2-4)
Depends: runit, systemd-sysv, ${misc:Depends}, ${shlibs:Depends}
Description: system-wide service supervision (systemd integration)
 runit is a collection of tools to provide system-wide service supervision
 and to manage services.  Contrary to sysv init, it not only cares about
 starting and stopping services, but also supervises the service daemons
 while they are running.  Amongst other things, it provides a reliable
 interface to send signals to service daemons without the need for pid-files,
 and a log facility with automatic log file rotation and disk space limits.
 .
 This package provides service file to start runit supervision via systemd.

Package: runit-sysv
Architecture: all
Depends: runit, ${misc:Depends}, ${shlibs:Depends}, sysvinit-core
Description: system-wide service supervision (sysv integration)
 runit is a collection of tools to provide system-wide service supervision
 and to manage services.  Contrary to sysv init, it not only cares about
 starting and stopping services, but also supervises the service daemons
 while they are running.  Amongst other things, it provides a reliable
 interface to send signals to service daemons without the need for pid-files,
 and a log facility with automatic log file rotation and disk space limits.
 .
 Presence of this package ensures, that runit will be started via /etc/inittab.

Package: getty-run
Architecture: all
Recommends: fgetty
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: runscripts to supervise getty processes
 runit is a collection of tools to provide system-wide service supervision
 and to manage services.  Contrary to sysv init, it not only cares about
 starting and stopping services, but also supervises the service daemons
 while they are running.  Amongst other things, it provides a reliable
 interface to send signals to service daemons without the need for pid-files,
 and a log facility with automatic log file rotation and disk space limits.
 .
 This package provides scripts to supervise getty processes, allowing
 local login.

Package: runit-init
Architecture: any
Depends: runit (= ${binary:Version}), ${misc:Depends},
 ${shlibs:Depends}, getty-run, sysv-rc, initscripts
Replaces: systemd-sysv, sysvinit-core, upstart, runit (<< 2.1.2-10~)
Conflicts: systemd-sysv, sysvinit-core, upstart
Description: system-wide service supervision (as init system)
 runit is a collection of tools to provide system-wide service supervision
 and to manage services.  Contrary to sysv init, it not only cares about
 starting and stopping services, but also supervises the service daemons
 while they are running.  Amongst other things, it provides a reliable
 interface to send signals to service daemons without the need for pid-files,
 and a log facility with automatic log file rotation and disk space limits.
 .
 This package provides /sbin/init, that boots your system and starts runit.
