#!/usr/bin/make -f
include /usr/share/dpkg/default.mk
export DEB_BUILD_OPTIONS = hardening=+all

# Substituted by dh-exec
export RUNIT := runit-$(DEB_VERSION_UPSTREAM)

%:
	dh $@ --sourcedirectory=$(RUNIT)/src --with bash_completion,systemd

override_dh_systemd_enable:
	dh_systemd_enable --name runit
