[Unit]
Description=Runit service supervision
Documentation=Runit service supervision

[Service]
ExecStart=/etc/runit/2
Restart=always

[Install]
WantedBy=multi-user.target
